 /** {
        padding: 0;
        margin: 0;
    }*/
 /*
 .scrollhide{
     width:100%;
     overflow-x:hidden;
     overflow-y:visible;
     height:100%;
 }*/

 /*Òþ²Ø¹ö¶¯Ìõ*/
.shellbody::-webkit-scrollbar {
    width: 0 !important
}
.shellbody{
    -ms-overflow-style: none;
}
.shellbody{
    overflow: -moz-scrollbars-none;
}

    .shellbody {
    position:relative;
    top:100px;
    height:100%;
    overflow-x: hidden;
    perspective: 3px;
    width:calc(100%+17px);
}

div.shell {
    position: relative;
    top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: 30px;
    letter-spacing: 2px;
}
.image {
    transform: translateZ(-1px) scale(1.6) ;
    background-size:cover;
    height: 100vh;
    z-index: -1;
}
.text {
    height: 50vh;
    background-color: #f3a694;
}

    .text h1{
        color: #000;
    }
.heading {
    z-index: -1;
    transform: translateY(-30vh) translateZ(1px);
    font-size: 40px;
    color: #fff;
}